html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
header {
    height: 70%;
    position: relative;
    overflow: hidden;
    background: url(https://unsplash.imgix.net/45/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=857f07b76abac23a7fb7161cc7b12a46) center no-repeat;
    background-size: cover;
  }
  header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  img{
    margin-right:20px
  }
  .site {
    padding: 20em 0;
    text-align: center;
    background-color: #efefef;
    font-size: .8em;
    color: #444;
    position:relative
  }
  .site a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site a:hover {
    color: #222;
  }
  
  .site nav{
    position:absolute;
    top:0;
    left:0;
    background:#222;
    width:100%
  }
  .site nav a{
    padding:10px 30px;
    font-size:1.3em;
    display:inline-block
  }
  .site nav a:hover{
    background:#333;
    color:#fff
  }

h1, p{
    font-family: 'Inter', sans-serif;
}